@font-face {
    font-family: Outfit;
    src: url("./fonts/Outfit-VariableFont_wght.ttf");
}
*{
    box-sizing: border-box;
}
body{
    font-size:15px;
    font-family: Outfit;
    margin:0; padding: 0;
    color: hsl(215, 51%, 70%);
}

main{
    max-width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.cardholder{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding:20px;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
}

h1{
    color: white;
    font-size: 2em;
}

h1:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.item{
    flex-basis: 50%;
}

.picholder{
    background: url("./images/image-equilibrium.jpg") no-repeat center center;
    background-size: cover;
    border-radius: inherit;
    position: relative;
}

.overlay{
    width:100%;
    height:100%;
    position: absolute; top:0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 255, 255, 0.402);
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.picholder:hover .overlay{
    opacity: 1;
    cursor: pointer;
}

.elemsholder{
    display: flex;
    width:100%;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

img{
    margin-right: 5px;
    position: relative; top: .2em;
}

#ethereum{
    color:hsl(178, 100%, 50%);
}

p{
    margin: 0 0 1.2em 0;
    font-size:1.5em;
}

.avatar{
    width: 2em;
    height:2em;
    top: .5em;
    border:1px solid white;
    border-radius: 50%;
}

.footer{
    text-align: center;
    margin-top: 1.7em;
    font-size:1em;
}

span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}